<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>SWACLI</WebPublishMethod>
    <ResourceId>/subscriptions/3efcff6b-faf0-47c9-b71b-3b2e9891958b/resourceGroups/CA3/providers/Microsoft.Web/staticSites/CA3X00181967</ResourceId>
    <ResourceGroup>CA3</ResourceGroup>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>browser-wasm</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishProvider>AzureStaticSite</PublishProvider>
    <Environment>preview</Environment>
    <Source>None</Source>
    <OutputLocation>wwwroot</OutputLocation>
    <SiteUrlToLaunchAfterPublish>https://proud-wave-07387f310.4.azurestaticapps.net</SiteUrlToLaunchAfterPublish>
    <_TargetId>AzureStaticWebApp</_TargetId>
  </PropertyGroup>
</Project>